<h1>Events Index</h1>
<p>
	<% @events.each do |f| %>
		<%= f.description %>
		<%= f.date %>
		<%= link_to "#{@events.index(f) + 1}", f %><br>
		
	<% end %>
</p>

<h2>Upcoming Events</h2>

<% @past_events.each do |f| %>
		<%= f.description %>
		<%= f.date %>		
<% end %>

<h2>Past Events</h2>

<% @past_events.each do |f| %>
		<%= f.description %>
		<%= f.date %>		
<% end %>