<h1>New Event</h1>
<%= form_for @event, url: { action: "create" } do |f| %>
	<%= f.label :description, "Description:" %>
	<%= f.text_area :description %><br><br>

	<%= f.label :date, "Date:" %>
	<%= f.date_field :date %><br><br>

	<%= f.submit "Create event" %>

<% end %>