<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash.each do |f| %>
      <% f %>
    <% end %>
    <%= yield %>
    <br><br><%= link_to "Sign up" ,signup_path %>
    <%= link_to "Log in", login_path %>
    <%= link_to "New event", new_event_path %><br><br>
    <%= link_to "Sign out", signout_path, method: :delete %><br><br>
    <% if logged_in? %>
      <p>Logged in user:</p>
      <%= current_user.id %>
      <%= current_user.name %>
    <% end %>
  </body>
</html>
